<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.seasar.javelin.statsvision"
   name="%pluginName"
   version="1.0.0"
   class="org.seasar.javelin.statsvision.StatsVisionPlugin"
   provider-name="%providerName">
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>
   <runtime>
      <library name="statsvision.jar">
         <export name="*"/>
      </library>
   </runtime>
  <extension
     point="org.eclipse.ui.editors">
	  <editor
	        class="org.seasar.javelin.statsvision.editors.MultiPageEditor"
	        contributorClass="org.seasar.javelin.statsvision.editors.MultiPageEditorContributor"
	        extensions="beye"
	        icon="icons/bottleneckeye.gif"
	        id="org.seasar.javelin.statsvision.viewer.editors.MultiPageEditor"
	        name="Bottleneck Eye"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
       <category
            name="Bottleneck Eye"
            id="org.seasar.javelin.statsvision.views"/>
      <view
            icon="icons/file.gif"
            class="org.seasar.javelin.statsvision.views.JournalView"
            category="org.seasar.javelin.statsvision.views"
            name="Journal"
            id="org.seasar.javelin.statsvision.views.JournalView"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.seasar.javelin.statvision.wizard"
            name="Bottleneck Eye">
      </category>
      <wizard
            category="org.seasar.javelin.statvision.wizard"
            class="org.seasar.javelin.statsvision.wizard.NewFileWizard"
            icon="icons/bottleneckeye.gif"
            id="org.seasar.javelin.statvision.wizard.newFileWizard"
            name="File">
      </wizard>
   </extension>
   
<!--
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="image/efv_16.gif"
            class="org.seasar.javelin.statsvision.viewer.PerspectiveFactory"
            name="ENdoSnipe"
            id="org.seasar.javelin.statsvision.viewer.perspective"/>
   </extension>
   <extension
         id="org.seasar.javelin.statsvision.Perspective"
         name="メイン"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.seasar.javelin.statsvision.perspective">
         <view
            id="org.seasar.javelin.statsvision.perspective"
               relationship="stack"
               relative="right"/>
      </perspectiveExtension>
   </extension>   
-->
</plugin>
