<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.seasar.javelin.bottleneckeye"
   name="%pluginName"
   version="1.0.0"
   class="org.seasar.javelin.bottleneckeye.StatsVisionPlugin"
   provider-name="%providerName">
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>
   <runtime>
      <library name="bottleneckeye.jar">
         <export name="*"/>
      </library>
      <library name="bottleneckeye_pro.jar">
         <export name="*"/>
      </library>
   </runtime>
  <extension
     point="org.eclipse.ui.editors">
	  <editor
	        class="org.seasar.javelin.bottleneckeye.editors.MultiPageEditor"
	        contributorClass="org.seasar.javelin.bottleneckeye.editors.MultiPageEditorContributor"
	        extensions="beye"
	        icon="icons/bottleneckeye.gif"
	        id="org.seasar.javelin.statsvision.viewer.editors.MultiPageEditor"
	        name="Bottleneck Eye"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
       <category
            name="Bottleneck Eye"
            id="org.seasar.javelin.statsvision.views"/>
      <view
            icon="icons/file.gif"
            class="org.seasar.javelin.bottleneckeye.views.JournalView"
            category="org.seasar.javelin.statsvision.views"
            name="Journal"
            id="org.seasar.javelin.statsvision.views.JournalView"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.seasar.javelin.statvision.wizard"
            name="Bottleneck Eye">
      </category>
      <wizard
            category="org.seasar.javelin.statvision.wizard"
            class="org.seasar.javelin.bottleneckeye.wizard.NewFileWizard"
            icon="icons/bottleneckeye.gif"
            id="org.seasar.javelin.statvision.wizard.newFileWizard"
            name="File">
      </wizard>
   </extension>
</plugin>
